html,
body,
main { 
    height: auto;
    min-height: calc(100vh - #{$footer-height + 60px});
}

.navbar-burger {
    min-height: 52px !important;
}

blockquote,
p {
    margin-bottom: $paragraph-spacing;
}

header {
    margin-bottom: $header-spacing;
}

.attribution {
    font-size: $size-7;
    p{
        margin-bottom: $paragraph-spacing * 0.33;
    }
}