
.post {

    a {
        text-decoration: underline !important;
    }

    header {
        text-align: center;
    }

    pre {
        background-color: transparent;
        code {
            overflow-x: scroll;
            background-color: transparent;
            border-radius: 2px;
            padding: 10px;
            border: 1px solid $primary-color-light;
            box-shadow: 0.5px 1px $primary-color-light;;
        }
    }

    p {
        background-color: transparent;
    }

    img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    blockquote {
        border-left: 3px solid $primary-color-light;
        padding-left: 5px;
        ul {
            margin-left: 30px;
            list-style: circle;
        }
    }

    ol {
        padding-left: 15px;
    }
}