
.post {

    header {
        text-align: center;
    }

    pre {
        background-color: transparent;
        code {
            overflow-x: scroll;
            background-color: transparent;
            border-radius: 2px;
            padding: 10px;
            border: 1px solid $primary-color-light;
            box-shadow: 0.5px 1px $primary-color-light;;
        }
    }

    p {
        background-color: transparent;
        padding-bottom: 17.5px;
    }

    img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}