
.post {

    h1 {
        text-align: center;
    }

    pre {
        background-color: transparent;
        code {
            overflow-x: scroll;
            background-color: transparent;
            border-radius: 2px;
            padding: 10px;
            border: 1px solid $primary-color-light;
            box-shadow: 1px 2px $primary-color-light;;
        }
    }
}