.resume {
    h3 {
        font-size: $size-4;
        text-align: center;
        text-decoration: underline;
    }

    h3:not(:first-child){
        margin-top: $paragraph-spacing * 2;
    }

    h4 {
        font-size: $size-5;
        text-decoration: underline;
        margin-top: $paragraph-spacing / 2;
        margin-bottom: $paragraph-spacing / 2;
    }

    ul {
        margin-bottom: $paragraph-spacing;
        @extend .tags;
        li {
            @extend .tag;
            @extend .is-white;
        }
    }
    p {
        //margin-bottom: 0;
    }
}