.search {
    input {
        @extend .input;
    }

    ul#resultsContainer {
        margin-top: $header-spacing;

        li {
            font-size: $size-4;
            margin: $size-7;


            @media screen and (max-width: $tablet) {
                font-size: $size-6;
            }

            a {
                text-decoration: underline;
            }
            
        }
    }
}