$fibers-background: url("/images/background/paperfibers.png") repeat;
$primary-color: #4a4a4a;
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$footer-height: 145px;
$paragraph-spacing: 17.5px;
$header-spacing: 2 * $paragraph-spacing;