@import "spectre.css/src/variables";

.post-list {
    .article-date {
        font-size: $unit-5;
    }

    h1 {
        font-size: $unit-6 !important;
        margin-top: $unit-1;
        margin-bottom: $unit-1;
        color: $link-color-light;
    }

    .post {
        margin-top: 2em;
    }
}