@import "spectre.css/src/variables";
.post {
    padding-top: $unit-10;

    h1 {
        font-size: $unit-9;
        padding-bottom: $unit-5;
        text-align: center;
    }

    pre {
        overflow-x: scroll;
    }
}