.off-canvas .off-canvas-toggle {
    font-size: 1rem;
    left: 1.5rem;
    position: fixed;
    top: 1rem;
    background-color: $gray-color-light
}

.off-canvas .off-canvas-sidebar {
    width: 12rem;
}

.off-canvas .off-canvas-content {
    padding: 0;
}

@media (max-width: 960px) {
    // .off-canvas .off-canvas-toggle {
    //     z-index: 300;
    // }

    .off-canvas .off-canvas-content {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .grid-hero h2 {
        font-size: .9rem;
    }

    .grid-hero .card {
        padding: 0;
    }

    .off-canvas .off-canvas-toggle {
        left: .5rem;
    }
}