extends layout
block content
    h1 val antonini
    h2 brisbane based software developer
    .columns.is-vcentered.about
        .column.is-one-quarter
            img(src=contents.images["valantonini256.png"].url, title="val antonini")
        .column!= typogr(page.html).typogrify()