extends layout

block prepend title
  | #{ page.title + ' - '}

block content
    header
        h1 val antonini
        h2 software engineer and leader
    section.resume!= typogr(page.html).typogrify()